{% extends 'base.htm' %}
{% block headerbit %}
Monetary model
{% endblock %}
{% block titlebit %}Agent based model of money. <br>You are user number {{defid}} <br>post: {{post_c}} get: {{get_c}} hist: {{pg_hist}}{% endblock %}
{% block bodybit %}
Please select parameters then press the "submit" button.</p>
<hr>
<!--<form action="/action_page.php">-->
<form action="/" method="POST">

{%for f in fl%}
    {{f.text_to_display}}:<input type="text" id="{{f.form_var}}" name="{{f.form_var}}" value="{{f.user_value}}"><font color=red>{{f.user_error_message}}</font><br>
{%endfor%}

<input type="hidden"   id="custId" name="custId" value="{{defid}}"><br>
<br>

<input type="submit" value="Submit"> </form>

<hr>
the variable 'thestring' is [{{thestring}}]</p>
</p>the variable 'params1' is [{{params1}}]</p>
</p>the variable 'params2' is [{{params2}}]</p>
</p>the variable 'params3' is [{{params3}}]</p>
</p>the variable 'params4' is [{{params4}}]</p>
</p>the variable 'params5' is [{{params5}}]</p>
</p>the variable 'params6' is [{{params6}}]</p>
<!--
<img src="{{ url_for('static',filename=thestring) }}">
-->
<img src="{{thestring}}">
{% endblock %}
